{% if exists("auth/base") %}
    {% extends "auth/base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block css %}
{% endblock %}

{% block title %} 
    Welcome To {{ config("application.name", "Masonite") }} 
{% endblock %}

{% block content %}
    
        <h5><i class="fa fa-car"></i> {{ config("application.name") }} Vehicle List
            <span class="float-right" style="margin-bottom:15px;">
                <a href="#" class="btn btn-sm btn-dark"><i class="fa fa-search"></i> Search Customers</a>
                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Car</a>
            </span>
        </h5>
   
    {% if cars %}
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Engine</th>
                    <th>Mileage</th>
                    <th>Color</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>
                        <a href="#"><i class="fa fa-search"></i></a>
                        <a href="#"><i class="fa fa-edit"></i></a>
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.engine }}</td>
                    <td>{{ car.mileage }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.user.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8"><span class="pull-left">Found {{ cars.count() }} records</span></td>
                </tr>
            </tfoot>
        </table>
    
    {% else %}
        
        <div class="alert alert-primary" role="alert">
            There are {{ cars.count() }} cars in the database to display in the list.  <a href="#" class="alert-link">Add Car</a>
        </div>
        
    {% endif %}
        
        
{% endblock %}


