{% extends "_layout.html" %}
{% block title %}{% endblock %}
{% block content %}

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Masonite 2.3</h3>
            </div>
            <div class="panel-body">
                Powered by a Modern web framework and updated daily.  New features added in a continuous development agile environment.
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fleet Manager</h3>
            </div>
            <div class="panel-body">
                Manage your entire Fleet, Customers, Auto-Follow Ups, Reminders, Post-Service Ratings and more...
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Automation</h3>
            </div>
            <div class="panel-body">
                We're always working.  ServiceAUTO's Python Powered backend is always available and ready to work when you are. 
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">AutoCRM</h3>
            </div>
            <div class="panel-body">
                Our customer CRM solution keeps you in touch and in front of your customers 24/7, 365 daysof the year.  Auto responders, regular direct and email marketing and ringless voicemail.  
            </div>
        </div>
    </div>

    

    {% endblock %}